<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Goodbye</title>
    <link rel="stylesheet" href="css/global.css">
    <style>

        * {
            margin: 0;
            padding: 0;
        }

        :root {
            --black: #111;
        }

        body {
            background-color: whitesmoke;
            font-family: Segoe UI;
        }

        .main-container {
            display: grid;
            align-content: center;
            height: 100vh;
        }

        .goodbye {
            font-size: 4rem;
            text-align: center;
        }

    </style>
</head>

<body>
    <div class="main-container">
        <div class="goodbye">Goodbye!</div>
    </div>
</body>

</html>