<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Goodbye!</title>
    <style>
        body {
            background-color: whitesmoke;
            font-family: Segoe UI;
        }

        .main-container {
            display: grid;
            align-content: center;
            height: calc(100vh - 2rem);
        }

        .goodbye {
            font-size: 4rem;
            text-align: center;
        }
    </style>
</head>

<body class="id-<%= locals.pageID || 'none' %>" data-pageid="<%= locals.pageID %>">
    <div class="main-container">
        <div class="goodbye">Goodbye!</div>
    </div>
    <script src="js/TODO.js"></script>
    <script src="js/TODODB.js"></script>
    <script src="js/global.js"></script>
</body>

</html>