<div id="main-header">
    <div class="menu-item exit-title" title="Exit">
        <a href="/exit" class="noselect">
            <img src="img/off-icon.png" alt="Exit">
        </a>
    </div>
    <div class="menu-item app-title" title="Main page" data-page="index">
        <a href="/" class="noselect">Home</a>
    </div>
    <div class="menu-item tasks-title" title="Your tasks" data-page="tasks">
        <a href="/tasks" class="noselect">Tasks</a>
    </div>
    <div class="menu-item notes-title" title="Your notes" data-page="notes">
        <a href="/notes" class="noselect">Notes</a>
    </div>
    <div class="menu-item author-title" title="Author's website">
        <a href="https://smarysz.net/" target="_blank" class="noselect">Author
            <img src="img/external_link.svg" alt="Icon" id="external_icon">
        </a>
    </div>
</div>