<div id="main-header">
    <div class="menu-item app-title" title="Main page" data-page="index">
        <a href="/">TODO List App</a>
    </div>
    <div class="menu-item tasks-title" title="Your tasks" data-page="tasks">
        <a href="/tasks">Tasks</a>
    </div>
    <div class="menu-item notes-title" title="Your notes" data-page="notes">
        <a href="/notes">Notes</a>
    </div>
    <div class="menu-item author-title" title="Author's website">
        <a href="https://smarysz.net/" target="_blank">Author</a>
    </div>
</div>