<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TDL</title>
    <link rel="stylesheet" href="css/global.css">
</head>

<body class="id-<%= locals.pageID || 'none' %>" data-pageid="<%= locals.pageID %>">
    <%- include('header') %>
    <div class="main-container">
        <h1 class="center mb-2">TODO List App</h1>
        <p>TODO List App is a open source software for creating list with things to do. It provides possibility to make easy notes.</p>
    </div>
    <%- include('footer') %>
    <script src="js/global.js"></script>
</body>

</html>